<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyq.bank.mapper.SubjectMapper">
    <select id="subjectList" parameterType="com.wyq.bank.entity.Subject" resultType="java.lang.String">
        select answer from question_bank
        where type=${subject.type}
        and question like CONCAT ('%',"${subject.question}",'%')
    </select>
</mapper>
